.App {
  font-family: sans-serif;
  text-align: center;
}

.square {
  background-color: #538fbe;
  border: 1px solid #538fbe;
  float: left;
  font-size: 50px;
  font-weight: bold;
  padding: 0;
  text-align: center;
  width: 80px;
  height: 80px;
  color: white;
  margin: 10px;
  border-radius: 5px;
  background-image: rgb(97, 155, 203);
}

.square:active {
  background: rgb(90, 150, 199);
}
/* Board */
.board-row :after {
  clear: both;
  content: '';
  display: table;
}
.game-board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
}
/* Game Info */
ul {
  padding-left: 30px;
}
.game-info {
  margin-left: 20px;
}
.status {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .game-board {
    width: 100%;
  }
  .game-board div {
    padding: 10px auto;
    text-align: center;
  }
  .board-row {
    width: 100%;
  }
}
